<footer id="bottom">
  <div>
    <p class="text">
      Hi! We are hackartscience.
      Thank you for taking an interest in our work.
      If you have any questions, comments, consulting inquiries, or any other reason to contact us,
      you may reach us here:
    </p>
  </div>

  <ul>
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}">
        <span class="icon  icon--github">
          {% include icons/github.svg %}
        </span>

        <span class="username">{{ site.github_username }}</span>
      </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span class="icon  icon--twitter">
          {% include icons/twitter.svg %}
        </span>

        <span class="username">{{ site.twitter_username }}</span>
      </a>
    </li>
    {% endif %}

    {% if site.facebook_username %}
    <li>
      <a href="https://facebook.com/{{ site.facebook_username }}">
        <span class="icon  icon--facebook">
          {% include icons/facebook.svg %}
        </span>

        <span class="username">{{ site.facebook_username }}</span>
      </a>
    </li>
    {% endif %}

    {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email">
          {% include icons/email.svg %}
        </span>

        <span class="username">{{ site.email }}</span>
      </a>
    </li>
    {% endif %}

    <li>
      <a href="/feed.xml">
        <span class="icon icon--rss">
          {% include icons/rss.svg %}
        </span>

        <span class="username">subscribe via RSS</span>
      </a>
    </li>
  </ul>
</footer>
